<!DOCTYPE html>
<html>
<head>
	<title>Enter Classes</title>
	<style>
		body {
			background-color: darkred;
			color: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			height: 100vh;
			margin: 0;
			font-family: Arial, sans-serif;
			font-size: 16px;
			line-height: 1.5;
		}
		header {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100px;
			width: 100%;
			margin-bottom: 20px;
		}
		header img {
			max-width: 40%;
			height: auto;
		}

		main {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			flex-grow: 1;
			width: 100%;
			max-width: 600px;
		}
		h1, h2, h3, h4, h5, h6 {
			margin-top: 0;
		}
		p {
			margin-top: 0;
			margin-bottom: 1em;
		}
		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
		}
		label, input {
			display: block;
			margin-bottom: 10px;
		}
		input[type="submit"] {
			padding: 10px;
			margin-top: 20px;
			border: none;
			border-radius: 5px;
			background-color: white;
			color: darkred;
			font-size: 18px;
			font-weight: bold;
			cursor: pointer;
		}
	</style>
</head>
<body>
	 <header>
        <img src="Logo.png" alt="Logo">
    </header>
    <h1>Enter Classes</h1>
    <form action="/enter_classes" method="POST">
        <table>
            <thead>
                <tr>
                    <th>Freshman Fall</th>
                    <th>Freshman Spring</th>
                    <th>Sophomore Fall</th>
                    <th>Sophomore Spring</th>
                    <th>Junior Fall</th>
                    <th>Junior Spring</th>
                    <th>Senior Fall</th>
                    <th>Senior Spring</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
						 <!-- Freshman Fall content -->
                        <label>
                            <input type="checkbox" name="courses" value="MATH1914">
                            MATH1914 Calculus I 4 Hours
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="CS1321">
                            CS1321 Programming 1 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="CS1323">
                            CS1323 Programming 3 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="CS1324">
                            CS1324 Programming 4 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="ENGL1113">
                            ENGL1113 3 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="ENGR1411">
                            ENGR1411 Freshman Engr Experience 1 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="ENGR3511">
                            ENGR3511 Transfer Engr Experience 1 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="UCOL1523">
                            UCOL1523 First-Year Experience 3 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="UCOL1533">
                            UCOL1533 First-Year Experience 3 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="UCOL1543">
                            UCOL1543 First-Year Experience 3 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="OpenElectives_Freshman_Fall">
                            Open Electives 3 Hour
                        </label>
                    </td>
                    <td>
						<!-- Freshman Spring content -->
                        <label>
                            <input type="checkbox" name="courses" value="MATH2924">
                            MATH2924 Calculus II 3 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="CS2334">
                            CS2334 Programming Structures and Abstractions 3 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="ENGL_EXPO1213">
                            ENGL/EXPO1213 3 Hour
                        </label>
                               <label>
                            <input type="checkbox" name="courses" value="NaturalScience_Freshman_Spring">
                            NATURAL SCIENCE with Lab 3 hours
                        </label>
                    </td>
                    <td>
						<!-- Sophomore Fall content -->
                        <label>
                            <input type="checkbox" name="courses" value="MATH2934">
                            MATH2934 Calculus III 4 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="CS2813">
                            CS2813 Discrete Structures 3 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="MATH2513">
                            MATH2513 Discrete Mathematics 3 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="CS2413">
                            CS2413 Data Structures 3 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="ENGR2002">
                            ENGR2002 Prof. Development 2 Hour
                        </label>
                        <label>
                            <input type="checkbox" name="courses" value="ApprovedElective_SocialScience">
                            Approved Elective Social Science 3 Hour
                        </label>
                    </td>
                    <td>
						<!-- Sophomore Spring content -->
                        <label>
                            <input type="checkbox" name="courses" value="OpenElectives_Sophomore_Spring">
                            OPEN ELECTIVES 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="CS2614">
                            CS2614 Computer Organization 4 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="CS3323">
                            CS3323 Principles of Programming Languages 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="NaturalScience_CoreI">
                            Natural Science (Core i) 4 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="PHYS2514">
                            PHYS2514 4 Hour
                        </label>
                        </td>
						<td>
						<!-- Junior Fall content -->
					<label>
                            <input type="checkbox" name="courses" value="CS3203">
                            CS3203 Software Engineering 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="CS3113">
                            CS3113 Intro to Operating Systems 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="CS3823">
                            CS3823 Theory of Computation 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="MATH3000+">
                            3000+ level MATH course 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="ApprovedElectives_ArtisticForms">
                            Approved Electives Artistic Forms 3 Hour
                        </label>
                        </td>
                    <td>
						<!-- Junior Spring content -->
                        <label>
                            <input type="checkbox" name="courses" value="CS4000+_JuniorSpring">
                            CS4000+ Elective (Excludes CS4910 & CS4970) 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="MATH3333">
                            MATH3333 Linear Algebra 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="MATH4753">
                            MATH4753 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="ISE3293">
                            ISE3293 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="MATH4743">
                            MATH4743 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="PSC1113">
                            PSC1113 American Fed. Govt. 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="ApprovedElective_WesternCulture">
                            Approved Elective Western Culture 3 hours
                        </label>
                    </td>
                    <td>
						<!-- Senior Fall content -->
                        <label>
                            <input type="checkbox" name="courses" value="CS4000+_SeniorFall">
                            CS4000+ Elective (Excludes CS4910 & CS4970) 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="CS4413">
                            CS4413 Algorithm Analysis 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="CS4173">
                            CS4173 Computer Security 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="CS4513">
                            CS4513 Database Management Systems 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="CS4000+_SeniorFall_OR_MathOptions">
                            CS4000+ Elective (Excludes CS4910 & CS4970) 3 Hour OR MATH4073, MATH4673, MATH4313
                        </label>
                    </td>
					<td>
						 <!-- Senior Spring content -->
                        <label>
                            <input type="checkbox" name="courses" value="CS4000+_SeniorSpring">
                            CS4000+ Elective (Excludes CS4910 & CS4970) 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="CS4473">
                            CS4473 Parallel Distributed and Network Programming 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="CS4273">
                            CS4273 Capstone Design Project 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="HIST1483">
                            HIST1483 US to 1865 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="HIST1493">
                            HIST1493 US 1865-present 3 Hour
                        </label><br>
                        <label>
                            <input type="checkbox" name="courses" value="ApprovedElective_WorldCulture">
                            Approved Elective World Culture 3 Hour
                        </label>
                    </td>
                </tr>
				</tbody>
            </table>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>
