<!DOCTYPE html>
<html>
  <head>
    <title>{{ course.get_name() }}</title>
  </head>
  <body>
    <form action="{{ url_for('thang') }}" method="POST">
      <h1>{{ course.get_name() }}</h1>
      <p>Subject: {{ course.get_subject() }}</p>
      <p>Course CCode: {{ course.get_code() }}</p>
      <p>Course Hours: {{ course.get_hours() }} Hour(s)</p>
      <p>Taken: {{ course.is_taken() }}</p>
      <p>Prerequisites: {{ course.get_pr_format() }}</p>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>